
.contact-social {
	display: flex;
	align-items: center;
	margin-top: 25px;
	a {
		width: 60px;
		height: 60px;
		display: flex;
		svg {
			width: 25px;
			height: auto;
			display: block;
			path {
				fill: white;
				transition: fill .3s;
			}
		}
		.no-touch &:hover {
			svg path {
				fill: $cyan;
			}
		}
	}
	@media (max-width: $bp-mobile) {
		margin-top: 10px;
		h2 {
			a {
				height: 40px;
				width: 40px;
				svg {
					width: 18px;
					height: auto;
				}
			}
		}
	}
}
