.about-footer {
	width: 100%;
	background: url(../img/bg-dot.gif);
	padding: 75px;
	padding-bottom: 0;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 3;
	@media (max-width: $bp-tablet) {
		padding: 50px;
		padding-bottom: 0
	}
	@media (max-width: $bp-mobile) {
		padding: 30px;
		padding-bottom: 0;
	}
}
.about-footer-copy {
	max-width: 900px;
	padding: 35px;
	text-align: left;
	margin: 0 auto;
	background: black;
	color: white;
	@extend %kern;
	font-size: 22px;
	line-height: 1.4;
	// border-radius: 3px;
	margin-bottom: 50px;
	opacity: 0;
	@media (max-width: $bp-mobile) {
		padding: 25px;
		font-size: 18px;
		padding: 20px;
	}
}
.in-view.about-footer-copy {
	opacity: 1;
	transition: opacity .5s .3s ease-out;
}
.about-footer-buttons {
	margin: 0 auto;
	display: flex;
	position: relative;
	width: 400px;
	transform: translateY(50px);
	opacity: 0;
	div {
		position: relative;
		display: inline-block;
		// border-radius: 3px 3px 0 0;
		background: $cyan;
		width: 50%;
		margin: 0 2px;
	}
	a {
		position: relative;
		display: inline-block;
		color: white;
		font-size: 18px;
		@extend %kern;
		text-align: center;
		margin: 0 auto;
		text-decoration: none;
		transition: all .3s;
		padding: 20px;
		z-index: 2;
		will-change: transform;
		span {
			display: block;
			background: $cyan;
			position: relative;
			z-index: 2;
		}
		svg {
			width: 40px;
			height: 40px;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			opacity: 0;
			z-index: 0;
			transform: scale(0.6);
			transform-origin: center;
			transition: all .4s;
			path {
				animation: spin 15s infinite linear;
				transform-origin: 50%;
				fill: white;
			}
		}
		&:hover {
			transform: scale(0.9);
			svg {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	&:before {
		@extend %pseudos;
		height: 40%;
		width: 4px;
		// border-radius: 8px;
		background: url(../img/bg-dot.gif);
		top: 5px;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 3;
	}
	&:after {
		@extend %pseudos;
		width: 50%;
		height: 70%;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background: $cyan;
		z-index: 0;
	}

	@media (max-width: $bp-mobile) {
		width: 100%;
		a {
			font-size: 16px;
			padding: 20px;
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}
.in-view.about-footer-buttons {
	transform: translateY(0);
	opacity: 1;
	transition: all .3s .2s ease-out;
}