/****************************
Nav Bar
*****************************/

nav {
	width: 100%;
	height: 60px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	transition: transform .3s, height 0s .5s;
	z-index: 900;
	will-change: transform;
	@media (max-width: $bp-tablet) {
		display: none;
		padding: 0;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		flex-direction: column;
	}
}
.nav-bar {
	width: 100%;
	height: 60px;
	background: black;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background: black;
}
.nav-up {
    transform: translateY(-60px);
}

/****************************
Logo
*****************************/

.site-logo {
	display: block;
	height: 30px;
	position: relative;
	z-index: 2;
	svg {
		display: block;
		height: 100%;
		width: auto;
	}
	@media screen and (max-width: $bp-tablet ) {
		height: 25px;
		display: inline-block;
		position: relative;
		z-index: 9998;
		margin: 18px 20px;
	}
}

/****************************
Nav List
*****************************/

.nav-list {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	z-index: 2;
	li {
		display: flex;
		height: 100%;
	}
	a {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 10px;
		text-decoration: none;
		color: $cyan;
		font-weight: 400;
		font-size: 16px;
		letter-spacing: -0.025em;
		transition: all .3s;
		will-change: transform;
		span {
			display: block;
			position: relative;
			z-index: 2;
			will-change: transform;
			transition:  all .3s;
			padding: 2px;
			border-radius: 3px;
		}
		svg {
			width: 38px;
			height: 38px;
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			opacity: 0;
			z-index: 0;
			transform: scale(0.6);
			transform-origin: center;
			transition: all .4s;
			will-change: transform;
			clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 25%, 100% 25%, 100% 75%, 0 74%, 0 100%, 100% 100%, 100% 0%);
			path {
				animation: spin 15s infinite linear;
				transform-origin: 50%;
				fill: $cyan;
			}
		}
		&:hover {
			svg {
				opacity: 1;
				transform: scale(1);
			}
		}
		&.current {
			text-decoration: line-through;
			color: white;
			&:hover {
				transform: scale(1);
				svg {
					display: none;
				}
			}
		}
	}
	@media (max-width: $bp-tablet) {
		padding: 0;
		margin: 0;
		justify-content: flex-start;
		display: block;
		height: calc(100% - 60px);
		top: 60px;
		left: 0;
		right: 0;
		width: 100%;
		flex-direction: column;
		position: absolute;
		z-index: 9997;
		li {
			height: 34%;
			width: 100%;
			transform: translateX(-100%);
			transition: transform .3s ease-in;
			&:nth-of-type(2) {
				transition: transform .3s .05s ease-in;
			}
			&:nth-of-type(1) {
				transition: transform .3s .1s ease-in;
			}
			a {
				padding: 30px 25px;
				background: black;
				width: 100%;
				&:hover {
					transform: scale(1) !important;
				}
				svg {
					right: auto;
					left: 20px;
					clip-path: polygon(0% 0%, 0% 100%, 22% 100%, 22% 25%, 100% 25%, 100% 75%, 22% 76%, 10% 100%, 100% 100%, 100% 0%);
				}
			}
		}
	}
}
.js-nav-open nav {
	@media (max-width: $bp-tablet) {
		height: 100%;
		transition: transform .3s, height 0s 0s;
	}
}
.js-nav-open .nav-list {
	@media (max-width: $bp-tablet) {
		li {
			transform: translateX(0);
		}
	}
}

/********************************************
Hamburger
*********************************************/

.hamburger {
	display: none;
	@media screen and (max-width: $bp-tablet ) {
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: flex-end;
		padding-right: em(20);
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 9998;
	}
}
.home-hamburger {
	@media screen and (max-width: $bp-tablet ) {
		top: 50px;
		right: 50px;
		z-index: 9998;
	}
	@media screen and (max-width: $bp-mobile ) {
		top: 30px;
		right: 30px;
	}
}
.hamburger-icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	span {
		width: 34px;
		height: 4px;
		background-color: white;
		position: relative;
		display: block;
		border-radius: 3px;
		&:before {
			@extend %pseudos;
			height: 4px;
			top: -7px;
			width: 100%;
			right: 0;
			background-color: white;
			transition: all .2s;
			border-radius: 3px;
		}
		&:after {
			@extend %pseudos;
			height: 4px;
			bottom: -7px;
			width: 85%;
			right: 0;
			background-color: white;
			transition: all .2s;
			border-radius: 3px;
		}
		.js-nav-open & {
			background-color: rgba(0,0,0,0);
			width: 55%;
			&:before {
				top: -3px;
    			width: 60%;
    			right: -3px;
			    transform: rotate(45deg);
			    background-color: white;
			}
			&:after {
				bottom: -3px;
    			width: 60%;
    			right: -3px;
			    transform: rotate(-45deg);
			    background-color: white;
			}
		}
	}
}