.project-page {
	position: relative;
}
.project-header {
	z-index: 2;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -100px;
	position: relative;
	@media (max-width: $bp-mobile) {
		margin-top: 0;
	}
}
.project-header-title {
	width: 80%;
	padding: 35px;
	text-align: left;
	margin: 0 auto;
	background: black;
	h2 {
		color: white;
		@extend %kern;
		font-size: 32px;
		line-height: 1.4;
		font-weight: bold;
		margin: 0;
	}
	p {
		color: white;
		letter-spacing: -0.025em;
		font-size: 16px;
		line-height: 1.4;
		margin: 0;
	}
	@media (max-width: $bp-tablet) {
		h2 {
			font-size: 26px;
		}
	}
	@media (max-width: $bp-mobile) {
		width: 100%;
		padding: 25px;
		h2 {
			font-size: 20px;
		}
	}
}
.project-intro {
	width: 70%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 80px;
	p {
		font-size: 26px;
		margin-top: 0;
		font-weight: $font-bold;
		@extend %kern;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	@media (max-width: $bp-tablet) {
		width: 100%;
		padding: 60px;
		p {
			font-size: 22px;
		}
	}
	@media (max-width: $bp-mobile) {
		padding: 35px;
		p {
			font-size: 18px;
		}
	}
}
.project-container {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 80px;
	position: relative;
	z-index: 2;
	@media (max-width: $bp-mobile) {
		padding: 35px;
	}
}
.project-page .toggle-view {
	opacity: 0;
	transform: translateY(15px);
}
.project-page .in-view.toggle-view {
	transform: translateY(0);
	opacity: 1;
	transition: all .5s .5s ease-out;
}
.project-squares {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	@media (max-width: $bp-mobile) {
		width: 100%;
		p {
			font-size: 18px;
			
		}
	}
}
.project-square {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	p {
		font-size: 26px;
		margin: 0;
		font-weight: $font-bold;
		@extend %kern;
		padding: 50px;
		
	}
	@media (max-width: $bp-tablet) {
		width: 80%;
		padding: 0 0 35px;
		p {
			font-size: 22px;
			padding: 0;
			
		}
		&:last-of-type {
			padding-bottom: 0;
		}
	}
	@media (max-width: $bp-mobile) {
		width: 100%;
		padding: 0 0 25px;
		p {
			font-size: 18px;
			
		}
		&:last-of-type {
			padding-bottom: 0;
		}
	}
}
.project-rect {
	width: 48%;
	margin: 1%;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	@media (max-width: $bp-mobile) {
		width: 800%;
	}
}
.project-swatch {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 80px;
	div {
		flex-grow: 1;
		height: 100%;
		width: 100%;
	}
	@media (max-width: $bp-tablet) {
		margin-bottom: 60px;
		height: 20px;
	}
	@media (max-width: $bp-mobile) {
		margin-bottom: 25px;
		height: 4px;
	}
}
.next-project {
	width: 100%;
	padding: 40px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	.view-all {
		color: white;
		opacity: 1;
		svg {
			width: 60px;
			height: 60px;
			path {
				fill: white;
			}
		}
	}
}
.project-footer {
	z-index: 1;
	bottom: 0;
	width: 90%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -100px;
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
		opacity: 0.4;
	}
	@media (max-width: $bp-tablet) {
		width: 100%;
	}
}

/*=======================
Session Styles
========================*/

.session-project {
	.wrapper {
		background: #ef163f;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #ef163f;
		}
		div:nth-of-type(2) {
			background-color: #12dbe8;
		}
		div:nth-of-type(3) {
			background-color: #262626;
		}
	}
	.next-project {
		background: #ef163f;
		.view-all span {
			background: #ef163f;
		}
	}
}

/*=======================
Beta Styles
========================*/

