.project-page {
	position: relative;
}
.project-header {
	z-index: 2;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -100px;
	position: relative;
	@media (max-width: $bp-mobile) {
		margin-top: 0;
	}
}
.project-header-title {
	width: 80%;
	padding: 35px;
	text-align: left;
	margin: 0 auto;
	background: black;
	max-width: 1300px;
	h2 {
		color: white;
		@extend %kern;
		font-size: 32px;
		line-height: 1.4;
		font-weight: bold;
		margin: 0;
	}
	p {
		color: white;
		letter-spacing: -0.025em;
		font-size: 16px;
		line-height: 1.4;
		margin: 0;
	}
	@media (max-width: $bp-tablet) {
		h2 {
			font-size: 26px;
		}
	}
	@media (max-width: $bp-mobile) {
		width: 100%;
		padding: 25px;
		h2 {
			font-size: 20px;
		}
	}
}
.project-intro {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 80px;
	p {
		font-size: 24px;
		margin-top: 0;
		font-weight: $font-bold;
		line-height: 1.4;
		letter-spacing: -0.025em;
		a {
			color: white;
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	@media (max-width: $bp-tablet) {
		width: 100%;
		padding: 60px;
		p {
			font-size: 22px;
		}
	}
	@media (max-width: $bp-mobile) {
		padding: 35px;
		p {
			font-size: 18px;
		}
	}
}
.project-container {
	margin: 0 auto;
	// max-width: 1200px;
	width: 100%;
	padding: 80px;
	position: relative;
	z-index: 2;
	background: $light-grey;
	display: flex;
	align-items: center;
	flex-direction: column;
	> div {
		max-width: 1000px;
	}
	@media (max-width: $bp-mobile) {
		padding: 35px;
	}
}
.project-page .toggle-view {
	opacity: 0;
	transform: translateY(15px);
	transition: all .6s .3s ease-out;
}
.project-page .in-view.toggle-view {
	transform: translateY(0);
	opacity: 1;
	transition: all .6s .3s ease-out;
}
.project-squares {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	@media (max-width: $bp-mobile) {
		width: 100%;
		p {
			font-size: 18px;
			
		}
	}
}
.project-square {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		font-size: 26px;
		margin: 0;
		font-weight: $font-bold;
		@extend %kern;
		padding: 50px;
		
	}
	@media (max-width: $bp-tablet) {
		width: 80%;
		padding: 0 0 35px;
		p {
			font-size: 22px;
			padding: 0;
			
		}
		&:last-of-type {
			padding-bottom: 0;
		}
	}
	@media (max-width: $bp-mobile) {
		width: 100%;
		padding: 0 0 25px;
		p {
			font-size: 18px;
			
		}
		&:last-of-type {
			padding-bottom: 0;
		}
	}
}
.project-rect {
	width: 48%;
	margin: 1%;
	@media (max-width: $bp-mobile) {
		width: 80%;
	}
}
.project-full {
	width: 80%;
	margin-bottom: 80px;
	@media (max-width: $bp-tablet) {
		margin-bottom: 60px;
	}
	@media (max-width: $bp-mobile) {
		margin-bottom: 40px;
	}
}
.project-swatch {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 80px;
	div {
		flex-grow: 1;
		height: 100%;
		width: 100%;
	}
	@media (max-width: $bp-tablet) {
		margin-bottom: 60px;
		height: 20px;
	}
	@media (max-width: $bp-mobile) {
		margin-bottom: 40px;
		height: 4px;
	}
}
.next-project {
	width: 100%;
	padding: 40px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	.view-all {
		color: white;
		opacity: 1;
		svg {
			width: 60px;
			height: 60px;
			path {
				fill: white;
			}
		}
		&.toggle-view {
			transform: translateY(0);
		}
	}
}
.project-footer {
	z-index: 1;
	bottom: 0;
	width: 90%;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: -600px;
	position: relative;
	display: none;
	img {
		width: 100%;
		height: auto;
		display: block;
		opacity: 0.4;
	}
	@media (max-width: $bp-tablet) {
		width: 100%;
	}
}
.project-copy {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 80px;
	max-width: 800px !important;
	p {
		font-size: 18px;
		line-height: 1.4;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	@media (max-width: $bp-tablet) {
		margin-bottom: 60px;
		width: 100%;
		font-size: 16px;
	}
	@media (max-width: $bp-mobile) {
		margin-bottom: 40px;

	}
}


.project-url .view-all span {
	font-weight: $font-bold;
	text-transform: lowercase;
}
.default-project {
	.wrapper {
		background: $cyan;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.next-project {
		background: $cyan;;
		.view-all span {
			background: $cyan;;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: $cyan;
		color: $cyan;
	}
}


/*=======================
Session Styles
========================*/

.session-project {
	.wrapper {
		background: #ef163f;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #ef163f;
		}
		div:nth-of-type(2) {
			background-color: #12dbe8;
		}
		div:nth-of-type(3) {
			background-color: #262626;
		}
	}
	.next-project {
		background: #ef163f;
		.view-all span {
			background: #ef163f;
		}
	}
}

/*=======================
Beta Styles
========================*/

.beta-project {
	.wrapper {
		background: #9d05ff;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #9d05ff;
		}
		div:nth-of-type(2) {
			background-color: #1dacf1;
		}
		div:nth-of-type(3) {
			background-color: #29e738;
		}
	}
	.next-project {
		background: #9d05ff;
		.view-all span {
			background: #9d05ff;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: #9d05ff;
		color: #9d05ff;
	}
}
.beta-logo-animation {
	padding: 100px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 80px;
	background: black;
	svg {
	  width: 100px;
	  height: 100px;
	  display: block;
	  padding: 20px;
	}
	.loader-outer-icon {
	  fill: none;
	  stroke: #9d03ff;
	  stroke-width: 2;
	  stroke-dasharray: 172;
	  stroke-dashoffset: 172;
	  animation: outer-stroke 2s .2s infinite ease-out;
	}
	.loader-inner-icon {
	  fill: none;
	  stroke: #0be923;
	  stroke-width: 2;
	  stroke-dasharray: 89;
	  stroke-dashoffset: 89;
	  animation: inner-stroke 1.5s  infinite ease-out reverse;
	}
	@media (max-width: $bp-tablet) {
		margin-bottom: 60px;
	}
	@media (max-width: $bp-mobile) {
		margin-bottom: 25px;
	}
}

@keyframes outer-stroke {
  50% {
    stroke-dashoffset: 0;
    stroke: #00abf4;
  }
  100% {
    stroke-dashoffset: -172;
    stroke: #0be923;
  }
}

@keyframes inner-stroke {
  50% {
    stroke-dashoffset: 0;
    stroke: #9d03ff;
  }
  100% {
    stroke-dashoffset: -89;
    stroke: #00abf4;
  }
}

/*=======================
Pavilion Styles
========================*/

.pavilion-project {
	.wrapper {
		background: #2c92de;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #2c92de;
		}
		div:nth-of-type(2) {
			background-color: #373737;
		}
		div:nth-of-type(3) {
			background-color: #fff;
		}
	}
	.next-project {
		background: #2c92de;
		.view-all span {
			background: #2c92de;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: #2c92de;
		color: #2c92de;
	}
}



/*=======================
Rockstar Styles
========================*/

.rockstar-project {
	.wrapper {
		background: #8c0000;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #8c0000;
		}
		div:nth-of-type(2) {
			background-color: #dcab00;
		}
		div:nth-of-type(3) {
			background-color: #292929;
		}
	}
	.next-project {
		background: #8c0000;
		.view-all span {
			background: #8c0000;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: #8c0000;
		color: #8c0000;
	}
}




/*=======================
Themescape Styles
========================*/

.themescape-project {
	.wrapper {
		background: #3b0f71;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #3b0f71;
		}
		div:nth-of-type(2) {
			background-color: #0069ed;
		}
		div:nth-of-type(3) {
			background-color: #201d25;
		}
	}
	.next-project {
		background: #3b0f71;
		.view-all span {
			background: #3b0f71;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: #3b0f71;
		color: #3b0f71;
	}
}



/*=======================
Insomniac Styles
========================*/

.insomniac-project {
	.wrapper {
		background: #b90094;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.next-project {
		background: #b90094;
		.view-all span {
			background: #b90094;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: #b90094;
		color: #b90094;
	}
}



/*=======================
Doormngr Styles
========================*/

.doormngr-project {
	.wrapper {
		background: #3d2251;
	}
	.page-header:after {
		background-image: url(../img/bg-white-dots.png);
	}
	.project-intro {
		h2, p {
			color: white;
		}
	}
	.next-project {
		background: #3d2251;
		.view-all span {
			background: #3d2251;
		}
	}
	.project-swatch {
		div:first-of-type {
			background-color: #3d2251;
		}
		div:nth-of-type(2) {
			background-color: #d600f6;
		}
		div:nth-of-type(3) {
			background-color: #e0e0e0;
		}
	}
	.project-url .view-all span, 
	.project-url .view-all svg path {
		fill: #3d2251;
		color: #3d2251;
	}
}




