.profile-header {
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
	min-height: 600px;
	position: relative;
	z-index: 3;
	&:before {
		@extend %pseudos;
		bottom: 60px;
		height: 20px;
		background: url(../img/bg-grey-line.gif);
		left: 2.5%;
		width: 45%;
		margin: auto;
		z-index: 3;
	}
}
.profile-header-photo {
	width: 50%;
	height: 100%;
	background: url(../img/about-photo-2.jpg);
	background-size: cover;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.profile-header-copy {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 50px 0 0;
	min-height: 680px;
	.scroll-prompt {
		position: static;
		width: 46px;
		height: 46px;
		z-index: 3;
		display: block;
		transition: opacity .5s;
		opacity: 1;
		margin-left: 30px;
		align-self: flex-start;
		svg {
			display: block;
			path {
				animation: spin 15s infinite linear;
				transform-origin: 50%;
				fill: $cyan;
			}
			polygon {
				fill: $cyan;
			}
		}
		@media (max-width: $bp-tablet) {
			right: 60px;
			width: 36px;
			height: 36px;
		}
		@media (max-width: $bp-mobile) {
			bottom: -10px;
		}
	}
	p {
		width: 100%;
		background: black;
		padding: 50px;
		text-align: left;
		color: white;
		@extend %kern;
		font-size: 26px;
		line-height: 1.4;
		position: relative;
		max-width: 800px;
		margin-left: -60px;
		align-self: flex-start;
		border-radius: 3px;
	}
}
.profile-wrapper {
	position: relative;
	z-index: 2;
	margin-top: -80px;
}
.profile-grid {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	padding: 70px 50px 50px;
	h2 {
		color: $grey;
		font-size: 32px;
		@extend %kern;
		text-align: left;
		opacity: 0;
		transform: translateY(15px);
		max-width: 800px;
		margin: 0 auto;
	}
	&.in-view h2 {
		opacity: 1;
		transform: translateY(0);
		transition: all .3s;
	}
}