.home-work {
	margin: 0 auto;
	width: 1200px;
	padding: 50px;
	margin-top: 50px;
	h2 {
		color: white;
		font-size: 42px;
		letter-spacing: -0.05em;
		color: white;
		text-align: center;
	}
}
.home-work-grid {
	width: 100%;
	display: flex;
	position: relative;
}
.home-project {
	width: 33.33%;
	padding: 1px;
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}


