/**********************
Breakpoints 
***********************/

$bp-xl: 1780px;
$bp-large: 1300px;
$bp-laptop: 1100px;
$bp-tablet: 915px;
$bp-sml-tablet: 768px;
$bp-mobile: 600px;
$bp-small: 480px;
$bp-xs: 320px;

/**********************
Font Weights
***********************/

$font-regular: 400;
$font-bold: 700;
$font-black: 900;

/**********************
Font Size
***********************/

$font-micro: em(11);
$font-xs: em(12);
$font-small: em(14);
$font-base: em(16);
$font-copy: em(18);
$font-medium: em(20);
$font-large: em(24);
$font-xl: em(32);
$font-xxl: em(56);

/**********************
Colors
***********************/

$cyan: #49ddf8;
$dark-cyan: darken($cyan, 10%);
$grey: #1d1d1d;
$light-grey: #f4f4f4;

