.wrapper {
	width: 100%;
	background: $light-grey;
	&.pattern {
		background: black url(../img/bg-pattern.jpg);
	}
	&.dots {
		background: black url(../img/bg-dot.gif);
	}
}
.container {
	padding-top: 60px;
	min-height: 100%;
	width: 100%;
	
	&.dots {
		background: black url(../img/bg-dot.gif);
	}
	&.pattern {
		background: black url(../img/bg-pattern.jpg);
	}
	&.flex {
		align-items: center;
		justify-content: center;
		display: flex;
	}
}
.grid {
	width: 100%;
	display: flex;
	position: relative;
	flex-wrap: wrap;
}